$primary_color: #e0e621;
$secondary_color: #0a303a;
$footer_color: #0d1f35;
$tertiary_color: #e50695;
$white: #fff;
$white2:#f9f9f9;
$white3:#f4f1ea;
$black: #000;
$menu_color:#262626;
$common_color: #444444;