
@import "color_variable";

@font-face{
    font-family: 'Sansei'; src: url(../fonts/Sensei-Medium.otf), url(../fonts/Sensei-Medium.ttf);
}


body{
    font-family: 'Catamaran', sans-serif;  color: $common_color; font-weight: 500;
}
html{
    font-size: 62.5%;
}
p{
    margin: 0; padding: 0; 
}

h1, h2, h3, h3, h4, h5, h6{
    margin: 0; padding: 0; line-height: .9; font-family: 'Sansei'; color: $secondary_color;
}
ul, li{
    margin: 0; padding: 0;list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.loader{ 
    width: 100%; height: 100%; position: fixed; left: 0; top: 0; background-color: #fff; z-index: 9999; display: flex; align-items: center; justify-content: center;
    .spinner-border{ /*border-color: #0b0c26;*/     border: .25em solid #0b0c26;     border-right-color: transparent;}
}

.custom_heading{
    width: 100%;
    h2{
        font-size: 4rem; padding-bottom: 3rem; position: relative; margin-bottom: 4rem;
        &:after{
            width: 19rem; height: 4px; background-color: $tertiary_color; position: absolute; bottom: 0; left: 0;  content: "";
        }
        
    }
    &.center{
        text-align: center;
        h2{
            &:after{
                right: 0; margin: auto;
            }
        }
    }
}

.custom_heading{
    width: 100%;
    h3{
        font-size: 4rem; padding-bottom: 3rem; position: relative; margin-bottom: 4rem; font-family: 'Catamaran', sans-serif; font-weight: 900;
        &:after{
            width: 19rem; height: 4px; background-color: $tertiary_color; position: absolute; bottom: 0; left: 0;  content: "";
        }
        
    }
    &.center{
        text-align: center;
        h3{
            &:after{
                right: 0; margin: auto;
            }
        }
    }
}

.container{
    max-width: 1440px;
}
.clear {
    clear: both;
}
@media only screen and (max-width:1450px){
    .container{
        max-width: 1200px;
    }
}
@media only screen and (max-width:1200px){
    .container{
        max-width: 100%; width: 100%;
    }
}
.sticky{
    position: fixed !important; top: 0; left: 0;
}

.custom_button{
    display: inline-block; margin-top: 3.6rem;
    a{
        background-color: $tertiary_color; color: $white; font-size: 1.8rem; text-transform: capitalize; padding: 1rem 5rem; display: block; border-radius: 3px; font-family: 'Sansei';
    }
}

.custom_button{
    display: inline-block; margin-top: 3.6rem;
    .input_button{
        background-color: $tertiary_color; color: $white; font-size: 1.8rem; text-transform: capitalize; padding: 1rem 5rem; display: block; border-radius: 3px; font-family: 'Sansei'; border: none; outline-style: none; cursor: pointer;
    }
}



.default_body{
    width: 100%; float: left; padding: 7rem 0;
}

@media only screen and (max-width:1450px){    
    html{
        font-size: 47%;
    }
}

@media only screen and (max-width:1200px){
    html{
        font-size: 44%;
    }
    
}
@media only screen and (max-width:1023px){
    html{
        font-size: 46%;
    }
    .container-fluid{
        width: 100%;
    }
    
}

@media only screen and (max-width: 500px){
    html{
        font-size: 38.5%;
    }
    .heading{
        p{
            width: 100%;
        }
    }
}
@media only screen and (max-width:450px){
    html{
        font-size: 35%;
    }
    
}